
{% extends 'pet_header_footer.html' %}
{% block shop_profile %}
{% load static %}
    
{% if msg %}
<script>
    alert("{{msg}}")
    
</script>
{% endif %}
<!-- BANNER -->
<div class="section banner-page" data-background="{% static 'images/pets-banner.jpg' %}">
    <div class="content-wrap pos-relative">
        <div class="d-flex justify-content-center bd-highlight mb-2">
            <div class="title-page">PROFILE</div>
        </div>
        <p class="text-center text-white">Your pet's health and well-being are our top priority.</p>
    </div>
</div>

<!-- BREADCRUMB -->
<div class="section bg-breadcrumb">
    <div class="content-wrap py-0 pos-relative">
        <div class="container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a href="../admin_home/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">PROFILE	</li>
              </ol>
            </nav>					
        </div>
    </div>
</div>
<!-- CONTENT -->
<div id="class" class="">
  <div class="content-wrap">
    <div class="container">
      <form method="POST">
        {% csrf_token %}
      {% if data.0.7 == null %}

      <input type="submit" name="lookafter" class="btn btn-secondary" value="If You are able to look After pets? Click me " style="margin-left: 80%;">
      {% endif %}


      {% if data.0.7 == 'accepted' %}

      <input type="submit"  class="btn btn-secondary" value="Agreed to look after pets" style="margin-left: 80%;">
      {% endif %}
    </form>
      <div class="row">
        <div class="col-sm-12 col-md-12 mb-5">
          <h2 class="section-heading text-center text-primary no-after mb-5">
           Shop Profile
          </h2>
          <p class="subheading text-center">Your pet's health and well-being are our top priority.</p>
        </div>


        <div class="col-12 col-sm-12 col-md-12">
          <form action="#" class="form-contact" data-toggle="validator" novalidate="true" method="POST">
                          {% csrf_token %}
            <div class="row">
              
              
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="name" value="{{data.0.1}}" pattern="[A-Za-z]{1}[A-Za-z\s]{2,32}" placeholder="Name" required>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" id="center" name="mail" placeholder="Email Id " value="{{data.0.2}}" required>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>

            <div class="row">
              
              
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="phone1" value="{{data.0.3}}" pattern="[6-9]{1}[0-9]{9}"  placeholder="Contact Number" required>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              
            

              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" class="form-control" name="password" value="{{data.0.11}}" pattern=".{6,16}" placeholder="password" id="myInput" required>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              
          </div>
      


      
          <div class="row">

            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" name="phone2" value="{{data.0.4}}" pattern="[6-9]{1}[0-9]{9}" placeholder="Phone 2"required>
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="col-sm-6 col-md-6">
              <div class="form-group">
            <input  type="checkbox"  onclick="myFunction()">
            <label onclick="myFunction()">show password</label>
            <div class="help-block with-errors"></div>

            </div>
            </div>


            <!-- script for show password -->
    <script>
      function myFunction() {
          debugger;
          var x = document.getElementById("myInput");
          if (x.type === "password") {
              x.type = "text";
          } else {
              x.type = "password";
          }
      }
  </script>
  </div>
          
            <div class="row">
              
              
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
               <textarea class="form-control" name="address" rows="6" placeholder="address" value="{{data.0.5}}" required>{{data.0.5}}</textarea>
              <div class="help-block with-errors"></div>
            </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
               <textarea class="form-control" name="available" rows="6" placeholder="Available Hours" value="{{data.0.6}}" required>{{data.0.6}}</textarea>
              <div class="help-block with-errors"></div>
            </div>
              </div>
          </div>
        
            <div class="form-group">
              <div class="text-center">
                <div id="success"></div>
                <input type="submit" name="submit" class="btn btn-primary" value="Update Profile">
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
  </div>
  
  <script>
      if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
      }
      </script>
{% endblock %}



