
{% extends 'walkers_header_footer.html' %}
{% block add_message %}
{% load static %}
    
{% if msg %}
<script>
    alert("{{msg}}")
    
</script>
{% endif %}
<!-- BANNER -->
<div class="section banner-page" data-background="{% static 'images/pets-banner.jpg' %}">
    <div class="content-wrap pos-relative">
        <div class="d-flex justify-content-center bd-highlight mb-2">
            <div class="title-page">MESSAGE</div>
        </div>
        <p class="text-center text-white">Your pet's health and well-being are our top priority.</p>
    </div>
</div>

<!-- BREADCRUMB -->
<div class="section bg-breadcrumb">
    <div class="content-wrap py-0 pos-relative">
        <div class="container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a href="../walker_home/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Message</li>
              </ol>
            </nav>					
        </div>
    </div>
</div>
<!-- CONTENT -->
<div id="class" class="">
  <div class="content-wrap">
    <div class="container">

      

      <div class="row">
        <div class="col-sm-12 col-md-12 mb-5">
          <h2 class="section-heading text-center text-primary no-after mb-5">
           Add Message
          </h2>
          <p class="subheading text-center">Your pet's health and well-being are our top priority.</p>
        </div>


        <div class="col-12 col-sm-12 col-md-12">
          <form action="#" class="form-contact" data-toggle="validator" novalidate="true" method="POST">
                          {% csrf_token %}
            <div class="row">
              
              
                <div class="col-sm-6 col-md-6" style="margin-left: 25%;">
                    <div class="form-group">
                   <textarea class="form-control" name="message" rows="6" placeholder="Any Message To Customer"  required></textarea>
                  <div class="help-block with-errors"></div>
                </div>
                  </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <!-- <input type="email" class="form-control" id="center" name="mail" placeholder="Email Id " value="{{data.0.3}}" required> -->
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>

            <div class="row">
              
              
        
            <div class="form-group" style="margin-left: 43%;">
              <div class="text-center" >
                <div id="success"></div>
                <input type="submit" name="submit" class="btn btn-primary" value="Update Profile">
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
  </div>
  
  <script>
      if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
      }
      </script>
{% endblock %}



